.principal-card.make-it-flex
  .card.text-center
    .card-header
      | Card
    .card-block
      h4.col-xs-12.col-sm-4.flex-item-1 NARRATIVA DE LA HISTORIA
      input(type='text' id='history' name='history' placeholder='historia' value=`${userStory.history}`).col-xs-12.col-sm-4.flex-item-3
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 Como
      input(type='text' id='how' name='how' placeholder='como' value=`${userStory.how}`).col-xs-12.col-sm-4.flex-item-4
      p.col-xs-12.col-sm-4.flex-item-6 tamaño ________
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 Quiero
      input(type='text' id='whant' name='whant' placeholder='Quiero' value=`${userStory.whant}`).col-xs-12.col-sm-4.flex-item-4
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 De tal manera
      input(type='text' id='some' name='some' placeholder='De tal manera'  value=`${userStory.some}`).col-xs-12.col-sm-4.flex-item-4
      br
      br
      br
    .card-block
      br
      h4.col-xs-12.col-sm-4.flex-item-1 CRITERIOS DE ACEPTACIÓN
      input(type='text' id='accept' name='accept' placeholder='criterios'  value=`${userStory.accept}`).col-xs-12.col-sm-4.flex-item-3
      br
      br
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 Dado
      input(type='text' id='given' name='given' placeholder='Dado'  value=`${userStory.given}`).col-xs-12.col-sm-4.flex-item-4
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 Cuando
      input(type='text' id='when' name='when' placeholder='Cuando'  value=`${userStory.when}`).col-xs-12.col-sm-4.flex-item-4
      br
      br
      br
      h4.col-xs-12.col-sm-4.flex-item-2 Entonces
      input(type='text' id='then' name='then' placeholder='Entonces'  value=`${userStory.then}`).col-xs-12.col-sm-4.flex-item-4
      br
      br
      br
      br
      p.col-xs-12.col-sm-4.flex-item-2 Prioridad
      select(type='text' name='fibonacci' id='fibonacci' value=`${userStory.fibonacci}`)
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='5') 5
        option(value='8') 8
      br
      br
      br
      input.btn.btn-lg.btn-success.btn-block(type='submit', value='Aceptar')
    .card-footer.text-muted
