extends ../navbar

block navbar
  div(class="row")
    div(class="col-md-12")
      h1 Usuarios del Sistema
      h2 #{user}
      br
      table(class="table")
        a(class="btn btn-success", href='/dashboard/cards/new') Nueva Carta
        tbody
          each card in cards
            tr

            .principal-card.make-it-flex
              .card.text-center
                .card-header
                  | Card
                .card-block
                  h4.col-xs-12.col-sm-4.flex-item-1 NARRATIVA DE LA HISTORIA
                  br
                  p.col-xs-12.col-sm-4.flex-item-3 #{card.history}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 Como
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.how}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 Quiero
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.whant}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 De tal manera
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.some}
                  br
                  br
                  br
                .card-block
                  br
                  h4.col-xs-12.col-sm-4.flex-item-1 CRITERIOS DE ACEPTACIÓN
                  p.col-xs-12.col-sm-4.flex-item-3 #{card.accept}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 Dado
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.given}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 Cuando
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.when}
                  br
                  br
                  br
                  h4.col-xs-12.col-sm-4.flex-item-2 Entonces
                  p.col-xs-12.col-sm-4.flex-item-4 #{card.then}
                  br
                  br
                  br
                  p.col-xs-12.col-sm-4.flex-item-2 Prioridad
                  p.col-xs-12.col-sm-4.flex-item-5 #{card.fibonacci}
                  br
                  br
                .card-footer.text-muted
                br

                a(class="btn btn-warning", href=`./cards/${card.id}/edit`) Editar
                form(name='delete-card', id='form-delete-card', method='POST', action=`./cards/${card._id}?_method=DELETE`)
                  input(type='submit', class="btn btn-danger", value='Eliminar')
