extends ../navbar

block navbar
  div(class="row")
    div(class="col-md-12")
      h1 Usuarios del Sistema
      h2 #{user}
      table(class="table")
        thead
          th history
          th how
          th whant
          th some
          th accept
          th given
          th when
          th then
          th
            a(class="btn btn-success", href='/cards/new') Nuevo
        tbody
            tr
              td #{cards.history}
              td #{cards.how}
              td #{cards.whant}
              td #{cards.some}
              td #{cards.accept}
              td #{cards.given}
              td #{cards.when}
              td #{cards.then}
              td
                a(class="btn btn-primary", href=`/cards/${cards._id}`) Ver
                a(class="btn btn-warning", href=`/cards/${cards._id}/edit`) Editar
                form(name='delete-user', id='form-delete-user', method='POST', action=`/cards/${cards._id}?_method=DELETE`)
                  input(type='submit', class="btn btn-danger", value='Eliminar')
