extends ../navbar

block navbar
  div(class="row")
    div(class="col-md-12")
      h1 Usuarios del Sistema
      h2 #{user}
      table(class="table")
        thead
          th history
          th how
          th whant
          th some
          th accept
          th given
          th when
          th then
          th
            a(class="btn btn-success", href='/dashboard/cards/new') Nuevo
        tbody
          each card in cards
            tr
              td #{card.history}
              td #{card.how}
              td #{card.whant}
              td #{card.some}
              td #{card.accept}
              td #{card.given}
              td #{card.when}
              td #{card.then}
              td
                a(class="btn btn-warning", href=`./cards/${card.id}/edit`) Editar
                form(name='delete-card', id='form-delete-card', method='POST', action=`./cards/${card._id}?_method=DELETE`)
                  input(type='submit', class="btn btn-danger", value='Eliminar')
