extends ../navbar

block navbar
  h1.page-header Edit project
  // /.col-lg-12
  // /.row
  .row
  .col-lg-12
  .panel.panel-default
    .panel-heading
      | Datos de usuario
    // /.panel-heading
    .panel-body
      form(role='form', name='update-project', id='form-update-project', method='POST', action=`/projects/${project._id}?_method=PUT`)
        fieldset
          .form-group
            input.form-control(placeholder='Nombre', name='nombre', type='text' , value=`${project.nombre}`)
          .form-group
            input.form-control(placeholder='Fecha de Solicitud', name='fechaSolicitud', type='date' , value=`${project.fechaSolicitud}`)
          .form-group
            input.form-control(placeholder='Fecha de Arranque', name='fechaArranque', type='date' , value=`${project.fechaArranque}`)
          .form-group
            input.form-control(placeholder='Descripcion', name='descripcion', type='text' , value=`${project.descripcion}`)
          .form-group
            div.skills-table(ng-controller='CtrlCollaborators')
              .form-group
                h3 Usuarios
                row
                  table(class="table", style='height:75px;border:1px solid #ccc; font:5px Arial, Garamond, Serif;overflow:auto;')
                    tbody
                      tr(ng-repeat='user in users')
                        td
                          div(style='font-size:22px') {{user.nombre}} {{user.primerApellido}} {{user.segundoApellido}}
                        td
                          input.btn.btn-primary.pull-right(type='button', ng-click='addCollaborator(user, $index)', value='Agregar')
              .form-group
                h3 Colaboradores
                .row
                  table(class="table" )
                    tbody
                      tr(ng-repeat='collaborator in collaborators')
                        td {{collaborator.nombre}} {{collaborator.primerApellido}}
                        td
                          input.btn.btn-danger(data-ng-click='removeCollaborator(collaborator, $index)', value='Eliminar')
          input.btn.btn-lg.btn-success.btn-block(type='submit', value='Actualizar')
