extends ../navbar

block navbar
  h1.page-header Profile
  // /.col-lg-12
  // /.row
  .row
  .col-lg-12
  .panel.panel-default
    .panel-heading
      | Datos de usuario
    // /.panel-heading
    .panel-body
      #dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
        .row
          .col-lg-12
            .col-xs-12.col-sm-4
              figure
                img.img-responsive(alt='', src='http://placehold.it/300x300')
              .row
                .col-xs-12.social-btns
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder.my-button
                    a.btn.btn-google(href='/connect/google')
                      i.fa.fa-google
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder.my-button
                    a.btn.btn-facebook(href='/connect/facebook')
                      i.fa.fa-facebook
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder.my-button
                    a.btn.btn-twitter(href='/connect/twitter')
                      i.fa.fa-twitter
            .col-xs-12.col-sm-8
              ul.list-group
                li.list-group-item
                  i.fa.fa-user
                  |  #{user.nombre} #{user.primerApellido} #{user.segundoApellido}
                li.list-group-item
                  i.fa.fa-id-card
                  |  #{user.curp}
                li.list-group-item #{user.rfc}
                li.list-group-item
                  i.fa.fa-home
                  |  #{user.domicilio}
                //li.list-group-item
                  //i.fa.fa-phone
                  //|  000-000-0000
                li.list-group-item
                  i.fa.fa-envelope
                  |  #{user.local.email}
        h4 Language and Platform Skills
          ul
            each skill in user.skills
              li
                p #{skill.description} - #{skill.ranking}
          .bs-callout.bs-callout-danger
          form(name='delete-user', id='form-delete-user', method='POST', action=`/users/${user._id}?_method=DELETE`)
            a( type='button', href='./edit/', class='btn btn-primary') Editar
            input(type='submit', class="btn btn-danger", value='Eliminar')
          // resume
